@import url("https://fonts.googleapis.com/css2?family=EB+Garamond:ital,wght@0,400..800;1,400..800&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --scaling-factor: min(100 * 1vw, 9999px);
  --theme-spx-ratio: var(--scaling-factor) / 1280;
}

body {
  font-family: "EB Garamond", serif;
}

/* Header Padding */
.header-padding-left-section,
.header-padding-right-section {
  padding: max(0.5px, 0.0125 * var(--scaling-factor))
    max(0.5px, 0.025 * var(--scaling-factor));
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .header-padding-left-section,
  .header-padding-right-section {
    padding: max(0.5px, 0.0156256 * var(--scaling-factor))
      max(0.5px, 0.0312513 * var(--scaling-factor));
  }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .header-padding-left-section,
  .header-padding-right-section {
    padding: max(0.5px, 0.0205128 * var(--scaling-factor))
      max(0.5px, 0.0410256 * var(--scaling-factor));
  }
}

/* Burger Menu Button Margin */
.burger-menu-close-button-margin {
  margin-right: max(0.5px, 0.02 * var(--scaling-factor));
  margin-top: max(0.5px, 0.0214846 * var(--scaling-factor));
}

@media screen and (min-width: 750px) and (max-width: 1000px) {
  .burger-menu-close-button-margin {
    margin-right: max(0.5px, 0.0312513 * var(--scaling-factor));
    margin-top: max(0.5px, 0.026041 * var(--scaling-factor));
  }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .burger-menu-close-button-margin {
    margin-right: max(0.5px, 0.0410256 * var(--scaling-factor));
    margin-top: max(0.5px, 0.0512821 * var(--scaling-factor));
  }
}

/* Sidebar Styles */
.sidebar-container-margin {
  margin-top: max(0.5px, 0.0625 * var(--scaling-factor));
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .sidebar-container-margin {
    margin-top: max(0.5px, 0.1435897 * var(--scaling-factor));
  }
}

.sidebar-font {
  font: normal normal normal calc(23 * var(--theme-spx-ratio)) / 1.1em
      "EB Garamond",
    serif;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .sidebar-font {
    font: normal normal normal max(0.5px, 0.0234375 * var(--scaling-factor)) /
        1.1em "EB Garamond",
      serif;
  }
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .sidebar-font {
    font: normal normal normal max(0.5px, 0.0461538 * var(--scaling-factor)) /
        1.1em "EB Garamond",
      serif;
  }
}

/* Navbar Margin */
.navbar-container-margin {
  margin-bottom: max(0.5px, 0.0375 * var(--scaling-factor));
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .navbar-container-margin {
    margin-bottom: max(0.5px, 0.1230769 * var(--scaling-factor));
  }
}

/* Sidebar Image */
.sidebar-image-width {
  @apply w-1/4;
}

@media screen and (min-width: 320px) and (max-width: 1000px) {
  .sidebar-image-width {
    width: 41.6%;
  }
}

.sidebar-image-margin {
  margin-right: max(0.5px, 0.025 * var(--scaling-factor));
  margin-bottom: max(0.5px, 0.0125 * var(--scaling-factor));
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .sidebar-image-margin {
    width: 31.25%;
    margin-right: max(0.5px, 0.0410256 * var(--scaling-factor));
    margin-bottom: max(0.5px, 0.0410256 * var(--scaling-factor));
  }
}

/* Sidebar Socials */
.sidebar-socials-width {
  width: calc(3 * (21px + 8px) - 8px);
}

.sidebar-socials-margin {
  margin-right: max(0.5px, 0.025 * var(--scaling-factor));
}

@media screen and (min-width: 320px) and (max-width: 750px) {
  .sidebar-socials-width {
    width: calc(3 * (19px + 8px) - 8px);
  }

  .sidebar-socials-margin {
    margin-right: max(0.5px, 0.0410256 * var(--scaling-factor));
  }
}

/* Sidebar List Items */
.sidebar-list-item {
  @apply grid py-1.5 pl-4 border-b border-sidebar_border sidebar-font;
}

/* Social Icons */
.social {
  @apply w-[21px] h-[21px];
}
